# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env
.env.*

# VSCode
.vscode/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test
.coverage
htmlcov/

# Misc
*.sqlite3
*.db
*.pid
*.swp
